fastapi==0.115.6
uvicorn==0.34.0
tavily-python
#transformers==4.42.4
#torch==2.2.0
requests==2.32.3
pydantic==2.10.4
numpy==1.23.0
scikit-learn==1.6.0
pandas==2.2.3
sqlalchemy==2.0.36
grpcio==1.60.1
python-dotenv==1.0.1
pytest==8.3.4
pytest-xdist==3.6.1
gunicorn
#chromadb==0.5.23
pydantic-settings
pydantic_core
Pygments
openai
python-dotenv
python-multipart
urllib3
attrs
certifi
charset-normalizer
aiohttp
aiosignal
datasets
einops